html, body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
	background-color: var(--page-bg);
	color: var(--text-color-main);
  font-family: var(--font-main);
}

body._lock {
  overflow: hidden;
}

a,
input {
  user-select: none;
}