.container {
  padding: 0 $container-laptop-padding;
	max-width: $container-laptop;
	margin: 0 auto;

  @include laptop {
    padding: 0 $container-tablet-padding;
  }

  @include tablet {
    padding: 0 $container-mobile-padding;
  }
}